@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400&display=swap');

body{
    font-family: 'Sen', sans-serif;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
p{
    text-align: start;
   
}

h1{
     font-size: calc(80px + vh);
     margin-top: 25px;
     overflow-y: hidden;
     
}

*{
    max-width: 100%;
    overflow-x: hidden;
}

main > span{
    color: rgba(255, 255, 255, 0.5);
}

*{
    margin: 0;
    padding: 0;
}

.light-grey{
    color: #8491a0;
}

/* dummy div bg */
.bg-transparent {
    height: 100vh;
}
.bg-transparent div:nth-child(1) {
    background: black;
}
.bg-transparent div:nth-child(2) {
    background: rgb(24, 24, 35);
}

.navbar{
    border-top: 6px solid #5221e6;;
}


/* main */
.main{
    top: 0;
    margin: auto;
    position: absolute;
    align-items: center;
    height: 100vh;
    display: flex;
}
.head-text-left span{
    font-size: calc(74px + vh);
    color: rgba(255, 235, 235, 0.5);
}

.head-text-left{
    margin-left: -60px;
   
}

@media(min-width: 320px) and (max-width: 767px){
    .main{ 
        top : 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 30px;
        height: 100vh;
    }
    
    .hero-image{
        max-width: 100%;
        max-height: 100%;
        background-size: cover;
        
    }
    .head-text-left{
        
        margin-left: 0;
        text-align: left;
        
       
    }
    h1{
        font-size: calc(40px + vh);
        line-height: 40px;
    }
   
    
}





/* experience */

.experience{
    background-color: black;
    align-items: center;
    margin: auto;
    padding: 8% 0;
}


.works h1{
    color: rgba(255, 255, 255, 0.5)
}


h2{
    font-size: calc(58px + vh);
    font-weight: 700;

}
h3{
    font-weight: 700;
}



/* philosophy */

.phy a{
   margin-left: 0;
   max-width: 150px;
   border-radius: 4px;
   color: #000;
}

.phy a:hover {
    color: white;
    background-color: #5221e6;
    
}


/* skillset */
.skillset{
    color: white;
    padding: 8% 0;
}

.works h5{
    line-height: 1.2;
    font-size: 24px;
}

@media(min-width: 320px ){
    .skill-head{
        display: flex;
        flex-direction: column;
    }
}



/* projects worked */

.cardbody{
    background-color: #333333;
}
.button-wrapper{
    height: 140px;
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

.button{
    border: 1px solid #5221e6;
    /* color: #5221e6; */
    background-color: black;
}

a :hover{
    background-color: #5221e6;
 
}

/* social */
@media(max-width: 670px) {
     
    .social-text{
        margin-left: 10%;
        max-width: 300px;
    }

}


/* business  form*/
.input-bg{
    background-color: #181823;
}

.form-inputs a{
    background-color: #5221e6;
}


/* footer */
footer{
    background-color: #181823;
}
.svg{
    width: 25px;
}
.cta-i{
    max-height: 15px;
}

@media(min-width: 768px){
    .footer{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        
    }
    .cta-i{
        max-height: 750px;
    }

    .nav-right{
        margin-left: auto;
        
    }
   
}

@media(max-width: 767px){

    .cta-i{
        max-height: 27px;
    }
    .navs{
        justify-content: flex-start;
    }
    .nav-right{
       
        margin-top: 8%;
    }
}